<ion-header>
	<ion-navbar>
		<ion-title>
			About
		</ion-title>
		<ion-buttons *ngIf="achivementsFeature" end>
			<button ion-button icon-only (click)="showAchievements()">
        		<ion-icon name="trophy"></ion-icon>
      		</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list inset>
		<ion-item>
			{{email}}
		</ion-item>
		<ion-item>
			<ion-label>Display Name</ion-label>
			<ion-input [(ngModel)]="displayName" type="text"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Age</ion-label>
			<ion-input [(ngModel)]="age" type="number"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Gender</ion-label>
			<ion-select [(ngModel)]="sex">
				<ion-option value="Male" selected="true">Male</ion-option>
				<ion-option value="Female">Female</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>
	<div padding>
		<button ion-button block (click)="saveUserChanges()">Save Changes</button>
	</div>
	<div *ngFor="let user of friends">
		<ion-card>
			<ion-card-header>
				{{user.displayName}}
			</ion-card-header>
			<ion-card-content>
				<button ion-button color="secondary" outline icon-left (click)="openChat({user: user, uid:currentUserId, interlocutor: user.firebaseId})">
							<ion-icon name='chatbubbles'></ion-icon>
							Chat
						</button>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>