<ion-header>
	<ion-navbar>
		<ion-title>
			Contact
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-list-header>Chat with Anyone</ion-list-header>
		<div *ngFor="let user of users">
			<div *ngIf="user.id != currentUserDBId">
				<ion-card>
					<ion-card-header>
						{{user.displayName}}
					</ion-card-header>
					<ion-card-content>
						<button *ngIf="!isMyFriend(user.firebaseId)" ion-button color="secondary" icon-left (click)="addFriend(user.firebaseId)">
							<ion-icon name='people'></ion-icon>
							Friends
						</button>
						<button ion-button color="secondary" outline icon-left (click)="openChat({user: user, uid:currentUserId, interlocutor: user.firebaseId})">
							<ion-icon name='chatbubbles'></ion-icon>
							Chat
						</button>
					</ion-card-content>
				</ion-card>
			</div>
		</div>
	</ion-list>
</ion-content>