<ion-tabs>
  <ion-tab [root]="tabHome" tabTitle="Single" tabIcon="navigate" selectedIndex="0" ></ion-tab>
  <ion-tab [root]="tabRoutes" tabTitle="Routes" tabIcon="map" selectedIndex="1" ></ion-tab>
  <ion-tab [root]="tabGroupRoutes" tabTitle="Group" tabIcon="analytics" selectedIndex="2" ></ion-tab>  
  <div *ngIf="showBikeHelp">
    <ion-tab [root]="tabBikeHelps" tabTitle="Help" tabIcon="help-buoy" selectedIndex="3"></ion-tab>
  </div>
  <div *ngIf="showBikeConfig">
    <ion-tab [root]="tabBikeConfig" tabTitle="Bikes" tabIcon="construct" selectedIndex="4"></ion-tab>
  </div>
  <ion-tab [root]="tabContacts" tabTitle="Contact" tabIcon="contacts" selectedIndex="5" ></ion-tab>
  <ion-tab [root]="tabInfo" tabTitle="About" tabIcon="information-circle" selectedIndex="6"></ion-tab>
</ion-tabs>