<ion-header>
  <ion-navbar>
    <ion-title>My Routes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let route of routes">
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Route {{route.startTime}}
        </ion-card-title>
        <ion-item>
          Distance
          <ion-badge item-right>{{route.distance}} meters</ion-badge>
        </ion-item>
        <ion-item>
          Star: {{route.startPointLat}}, {{route.startPointLon}}
        </ion-item>
        <ion-item>
          End: {{route.endPointLat}}, {{route.endPointLon}}
        </ion-item>
        <div *ngIf="!route.finished">
          <button ion-button color="danger" (click)="endRoute(route)">End Route</button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>