<ion-header>
	<ion-navbar>
		<ion-title>My Routes</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div *ngFor="let route of routes">
		<ion-card>
			<ion-card-content>
				<ion-card-title>
					Route {{route.id}}
				</ion-card-title>
				<ion-item>
					Start Time:<br/> {{route.startTime}}
				</ion-item>
				<ion-item *ngIf="route.finished">
					End Time:<br/> {{route.endTime}}
				</ion-item>
				<ion-item>
					Distance
					<ion-badge item-right>{{route.distance}} meters</ion-badge>
				</ion-item>
				<ion-item>
					Start: {{route.startPointName }}
				</ion-item>
				<ion-item>
					End: {{route.endPointName }}
				</ion-item>
				<ion-item *ngIf="route.finished">
					Calories
					<ion-badge item-right>{{route.calories}}</ion-badge>
				</ion-item>
				<ion-item *ngIf="route.finished">
					Avg Speed
					<ion-badge item-right>{{route.speed}}</ion-badge>
				</ion-item>
				<div *ngIf="!route.finished">
					<button ion-button color="danger" (click)="endRoute(route)">End Route</button>
				</div>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>