<!--
  Generated template for the SocialMediaLogin component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<br>
<div class="SocialMedia">
  {{text}}
</div>
<br>
<div class="buttons" [style.visibility]="getVariant()">
  <button ion-button icon-left (click)="loginFirebaseAuthGoogle('Google')" small>
    <ion-icon name="logo-google"></ion-icon>
  </button>
  <button ion-button icon-left (click)="loginFirebaseAuthGoogle('Facebook')" small>
    <ion-icon name="logo-facebook"></ion-icon>
  </button>
  <button ion-button icon-left (click)="loginFirebaseAuthGoogle('Twitter')" small>
    <ion-icon name="logo-twitter"></ion-icon>
  </button>
</div>
