<!--
  Generated template for the SocialMediaLogin component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<br>
<div class="SocialMedia">
  {{text}}
</div>
<br>
<div class="buttons" [style.visibility]="getVariant()">
  <ion-icon name="logo-google" item-left (click)="loginFirebaseAuthGoogle('Google')"></ion-icon>
  <ion-icon name="logo-facebook" item-left (click)="loginFirebaseAuthGoogle('Facebook')"></ion-icon>
  <ion-icon name="logo-twitter" item-left (click)="loginFirebaseAuthGoogle('Twitter')"></ion-icon>
</div>
